{% extends "base.html" %}

{% block content %}
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                {% block sidebar_nav %}
                <!-- Sidebar navigation items will be added by child templates -->
                {% endblock %}
            </ul>
        </div>
    </div>

    <!-- Main content -->
    <div class="col-md-9 col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block page_title %}{% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                {% block page_actions %}
                <!-- Page action buttons will be added by child templates -->
                {% endblock %}
            </div>
        </div>

        {% block page_content %}
        <!-- Page content will be added by child templates -->
        {% endblock %}
    </div>
</div>
{% endblock %}